## Excercise 04

We're expressing the yield of apples as a weighted sum of the temperature, rainfall and humidity. 
Obviously, this is an approximation, since the actual relation may not necessarily be linear. 
But a simple linear model like this often works well in practice.

Based on some statical analysis of historical data, we might we able to come up with reasonable 
values for the weights **wl**, **w2** and **w3**. Here's an example set of values:

In [14]:
weights = {"Temp[F]": 0.3, "Rainfall(mm)": 0.2, "Humidity": 0.5}

Given some climate data we can now predict what the yeild of apple in a region might look like.   
Here's some sample data:

In [15]:
import pandas as pd

data = {
        'Region' : ['Kanto', 'Johto', 'Hoenn', 'Sinnoh', 'Unova'],
        'Temp.(F)' : [73, 91, 87, 102, 69],
        'Rainfall (mm)' : [67, 88, 134, 43, 96],
        'Humidity (%)' : [43, 64, 58, 37, 70]
}
df = pd.DataFrame(data)
df

   Region  Temp.(F)  Rainfall (mm)  Humidity (%)
0   Kanto        73             67            43
1   Johto        91             88            64
2   Hoenn        87            134            58
3  Sinnoh       102             43            37
4   Unova        69             96            70

In order to begin, we could  first define some variables to record some climate data for a region.

In [16]:
my_dict : dict = {"Region" : [], "Temp[F]" : [], "Rainfall(mm)" : [], "Humidity" : []}

In [17]:
for key in my_dict:
    for i in range(5):
        val = input(f"Enter the value of {key} for entry {i + 1}: ")
        if key != "Region":
            val = int(val)
        my_dict[key].append(val)

Enter the value of Region for entry 1:  Kanto
Enter the value of Region for entry 2:  Johto
Enter the value of Region for entry 3:  Hoenn
Enter the value of Region for entry 4:  Sinnoh
Enter the value of Region for entry 5:  Unova
Enter the value of Temp[F] for entry 1:  73
Enter the value of Temp[F] for entry 2:  91
Enter the value of Temp[F] for entry 3:  87
Enter the value of Temp[F] for entry 4:  102
Enter the value of Temp[F] for entry 5:  69
Enter the value of Rainfall(mm) for entry 1:  67
Enter the value of Rainfall(mm) for entry 2:  88
Enter the value of Rainfall(mm) for entry 3:  134
Enter the value of Rainfall(mm) for entry 4:  43
Enter the value of Rainfall(mm) for entry 5:  96
Enter the value of Humidity for entry 1:  43
Enter the value of Humidity for entry 2:  64
Enter the value of Humidity for entry 3:  58
Enter the value of Humidity for entry 4:  37
Enter the value of Humidity for entry 5:  70

In [18]:
n = len(next(iter(my_dict.values())))

In [19]:
for i in range(n):
    terms = []
    total = 0
    for key in weights:
        value = my_dict[key][i]
        weight = weights[key]
        term = value * weight
        total += term
        terms.append(f"{value}*{weight}")
    region = my_dict["Region"][i]
    print(f"For Region '{region}': {total:.2f}")

For Region 'Kanto': 56.80
For Region 'Johto': 76.90
For Region 'Hoenn': 81.90
For Region 'Sinnoh': 57.70
For Region 'Unova': 74.90