In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## Exercise - Data Analysis for Vacation Planning 
You are planning a leisure trip(vacation) and you have to decide which city you wish to vist. You have 
shortlisted 4 cities, and identified the cost of return flight, daily cost and weekly car rental cost
(a car has to be rented for a full weeks, even if you return the car before the week ends)

In [9]:
import pandas as pd

data = {
        'City' : ['Paris', 'London', 'Dubai', 'Mumbai'],
        'Return Flights($)' : [200, 250, 370, 450],
        'Hostel per day($)' : [20, 30, 15, 10],
        'Weekly Car Rentals($)' : [200, 120, 80, 70]
}
df = pd.DataFrame(data)
df

     City  Return Flights($)  Hostel per day($)  Weekly Car Rentals($)
0   Paris                200                 20                    200
1  London                250                 30                    120
2   Dubai                370                 15                     80
3  Mumbai                450                 10                     70

Answer the following questions using the data given above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?

2. How does the answer to the previous question change if you change the duration of the trip to 4 days
    ,10 days or 2 weeks?

3. If your total budget for the trip is $1000, which city should you visit to maximize the duration of
    your trip? Which city should you visit if you want to minimize the duration?

4. How does the answer to the previous question change if your budget is $600, $2000 or $1500?

*Hint* :- *In order to answer the questions, it will help to define a function **cost_of_trip** with relevent 
input like **flight cost, hotel rate, car rental rate and duration of the trip**. You may find the **math.ceil** 
function useful for calculating the total cost of car rental*

In [84]:
import math

def cost_of_trip(flight_cost, hostel_rate, car_rental_rate, duration):
    weeks = math.ceil(duration / 7)
    hostel_cost = hostel_rate * duration
    car_rental_cost = car_rental_rate * weeks
    total = flight_cost + hostel_cost + car_rental_cost
    return total

In [85]:
# Input
budget = int(input("Enter your budget: "))
trip_duration = int(input("How many days do you want to travel: "))

Enter your budget:  1000
How many days do you want to travel:  12

In [86]:
# City data
cities = {
    'Paris': {'flight': 200, 'hostel': 20, 'car': 200},
    'London': {'flight': 250, 'hostel': 30, 'car': 120},
    'Dubai': {'flight': 370, 'hostel': 15, 'car': 80},
    'Mumbai': {'flight': 450, 'hostel': 10, 'car': 70}
}

In [87]:
# Store affordable cities
affordable_cities = {}

for city, data in cities.items():
    total_cost = cost_of_trip(data['flight'], data['hostel'], data['car'], trip_duration)
    if total_cost <= budget:
        affordable_cities[city] = {
            'Total Cost': total_cost,
            'Duration': trip_duration,
            'Flight': data['flight'],
            'Hostel (per day)': data['hostel'],
            'Car Rental (per week)': data['car']
        }

In [89]:
# Output
if not affordable_cities:
    print("Sorry, no cities are within your budget.")
else:
    print("\nCities you can visit within your budget:\n")
    for city, details in affordable_cities.items():
        print(f"{city}")
        for key, value in details.items():
            print(f"  {key}: {value}")
        print()

Cities you can visit within your budget:

Paris
  Total Cost: 840
  Duration: 12
  Flight: 200
  Hostel (per day): 20
  Car Rental (per week): 200

London
  Total Cost: 850
  Duration: 12
  Flight: 250
  Hostel (per day): 30
  Car Rental (per week): 120

Dubai
  Total Cost: 710
  Duration: 12
  Flight: 370
  Hostel (per day): 15
  Car Rental (per week): 80

Mumbai
  Total Cost: 710
  Duration: 12
  Flight: 450
  Hostel (per day): 10
  Car Rental (per week): 70